# Compiled output
/dist
/node_modules
/vendor
/.phpunit.cache
/public/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/test-reports
.phpunit.result.cache

# OS
.DS_Store

# IDEs and editors
/.idea
/.fleet
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editorconfig

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
.env
.env.*
!.env.example
!.env.testing

# Keys
auth.json
/storage/*.key

# Storage
/public/hot
/public/storage
Homestead.json
Homestead.yaml
